typer
rich
google-generativeai
GitPython
python-dotenv
pydantic
fastmcp
google-cloud-storage
uvicorn
tiktoken
groq
openai
# google-cloud-aiplatform  # Optional Add-on: pip install google-cloud-aiplatform
# Dev / Testing
pytest
pytest-cov
